# Backend (.env to be placed in Medinote_backend/.env)
DATABASE_URL="추가하셈 !"

# Frontend (.env to be placed in medinote_front/.env)
VITE_API_URL=http://IP:8000

# STT Server URL (for backend -> stt)
STT_SERVER_URL=http://stt:8002

# Backend URL (for stt -> backend)
BACKEND_URL=http://backend:8000

FRONTEND_URL=http://IP:4173

POSTGRES_PASSWORD=********

# OpenAI API Key (for STT service)
OPENAI_API_KEY=sk-...

