# Backend (.env to be placed in Medinote_backend/.env)
DATABASE_URL="추가하셈 !"

# Frontend (.env to be placed in medinote_front/.env)
VITE_API_URL=http://IP:8000

FRONTEND_URL=http://IP:4173

POSTGRES_PASSWORD=********

