fastapi
uvicorn[standard]

# LangGraph / LLM / RAG
langgraph
openai>=1.0.0
chromadb
tavily-python
langsmith
cohere          # 🔹 이 줄 추가

# DB
sqlalchemy
psycopg2-binary

# 기타 유틸
python-dotenv

# 테스트
pytest
httpx
